<div id="register" class="dialogForm">
	<h1> Enregistrement </h1>
	<div class="form-horizontal">
	  <div class="control-group">
	    <label class="control-label" for="inputNewLogin">Utilisateur</label>
	    <div class="controls">
	      <input type="text" id="inputNewLogin" placeholder="identifiant/Email">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputNewFirstname">Prénom</label>
	    <div class="controls">
	      <input type="text" id="inputNewFirstname" placeholder="">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputNewLastname">Nom de famille</label>
	    <div class="controls">
	      <input type="text" id="inputNewLastname" placeholder="">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputNewPassword">Mot de passe</label>
	    <div class="controls">
	      <input type="password" id="inputNewPassword" placeholder="Password">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputNewEmail">Email</label>
	    <div class="controls">
	      <input type="text" id="inputNewEmail" placeholder="Email">
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <button id="registerButton" type="submit" class="btn">S'inscrire</button>
	      <div id="cancelButton" class="btn">Annuler</div>
	    </div>
	  </div>
	</div>
</div>