<div id="login" class="dialogForm">
	<h1> Login </h1>
	<div class="form-horizontal">
	  <div class="control-group">
	    <label class="control-label" for="inputLogin">Utilisateur</label>
	    <div class="controls">
	      <input type="text" id="inputLogin" placeholder="identifiant/Email">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputPassword">Mot de passe</label>
	    <div class="controls">
	      <input type="password" id="inputPassword" placeholder="Password">
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <button id="loginButton" type="submit" class="btn">Connexion</button>
	      <button id="registrationButton" type="submit" class="btn">S'inscrire</button>
	      <div id="cancelButton" class="btn">Annuler</div>
	    </div>
	  </div>
	</div>
</div>
