 <div id="partagerMapView" class="partager">
 	<div id="menuView" class="hcenter">
	 		<a href="#pickPhoto" id="filmButton">
	 			<img src="img/partager/bouton-choisir-photo-passif.png">
	 		</a>
	 		<a href="#shootPhoto" id="cameraButton">
	 			<img src="img/partager/bouton-prendre-photo-passif.png">
	 		</a>
	 		<a href="#locate" id="locateButton">
	 			<img src="img/partager/bouton-carte-actif.png">
	 		</a>
 	</div>
	<div id="mapContainer" class="viewContent">
	    <div id="map" style="width:100%;height:100%;"></div>
	</div>
	<div id="footerView" class="pink-background">
		<p>Toucher une puce pour faire apparaitre le nom du lieu correspondant<br/>puis valider si c'est celui photographié.</p>
	</div>
</div>