 <div id="conceptView" class="concept">
 	<div class="background">
		<img src="img/concept/14-photofond.jpg" class="fullscreen"/>
	</div>
 	<div id="concept" class="hcenter viewContent">
 		<div id="innerPanel">
 			<div id="title">
 				<p>LE CONCEPT</p>
 				<p><strong>VOIR LA&nbsp;VILLE AUTREMENT...</strong></p>
 			</div>
 			
	 		<p>VuParVous est une application (mobile et web) simple, ludique, interactive, collaborative pour visiter la ville autrement : découvrir des lieux emblématiques et insolites, partager sa vision avec d’autres et pour valoriser cette nouvelle expérience touristique, la possibilité de gagner un livre de photos.</p> 

			<p>Tout ceci se joue en 3 modes.</p>
			<p>Le mode <strong><span class="color-green">«découverte»</span></strong> assiste le touriste et l’amoureux de Marseille dans sa visite des lieux et bâtiments en lui proposant :</p> 
			<ul>
				<li>la liste des lieux à visiter dont certains labellisés «Marseille Provence 2013»,</li> 
				<li>une fiche descriptive pour chacun de ces lieux,</li>
				<li>leur emplacement sur une carte.</li>
			</ul>
			<p>Dans le mode <strong><span class="color-pink">«partage»</span></strong> après s’être identifié, on peut consulter les photos que l’on a partagées depuis l’application mobile ainsi que leur classement.</p>
			<p>Le mode <strong><span class="color-yellow">«palmarès»</span></strong> permet de voir toutes les photos classées selon les votes.</p> 
			<p>Vous pouvez voter pour les photos partagées, dans «partage» ou «palmarès», dans 2 catégories «photo de qualité» ou «photo insolite». La notation est automatique et fonction des votes : 1 vote = 1 point.</p> 
			<p>Une fois par an, VuParVous édite un livre avec les meilleures photos de chaque lieu (selon le classement des utilisateurs) constituant un portrait de la ville vue par vous. Ce livre sera offert aux touristes ayant réalisé les images lauréates, il sera diffusé dans les lieux touristiques ou culturels.</p>
 		</div>
	</div>
	<div id="footerView">
		<a href="#login"><div id="connexion-button">connexion</div></a>
	</div>
</div>
