 	<div class="container">
	 	<div id="partageViewHeader">
			<a href="#partage" id="partageButton">
				<img  class="image-button" data-group="partage-navbar"
			    	src="assets/img/partage/PARTAGE-mesphotospartagees-inactif.png" 
			        data-off="assets/img/partage/PARTAGE-mesphotospartagees-inactif.png" 
			        data-on="assets/img/partage/PARTAGE-mesphotospartagees-actif.png"/>
			</a>
			<!--  a href="#mymap" id="mymapButton">
				<img  class="image-button" data-group="partage-navbar"
			    	src="assets/img/partage/PARTAGE-meslieuxpartagees-inactif.png" 
			        data-off="assets/img/partage/PARTAGE-meslieuxpartagees-inactif.png" 
			        data-on="assets/img/partage/PARTAGE-meslieuxpartagees-actif.png"/>
			</a -->
		</div>
		<div id="pageTitle">Mes photos et lieux partagés</div>
	</div>
