 <div id="decouvrirView">
 	<div id="viewHeader">
 		<div class="container">
			<a href="#photos" id="photosButton"><img  class="image-button" data-group="sites-navbar" data-toggle-manual="yes"
			                                    src="assets/img/decouvrir/boutons-liste-actif.png" 
			                                    data-off="assets/img/decouvrir/boutons-liste-inactif.png" 
			                                    data-over="assets/img/decouvrir/boutons-liste-souris.png"
			                                    data-on="assets/img/decouvrir/boutons-liste-actif.png"/>
			</a>
			<a href="#map" id="mapButton"><img  class="image-button" data-group="sites-navbar" data-toggle-manual="yes"
			                                    src="assets/img/decouvrir/boutons-carte-inactif.png" 
			                                    data-off="assets/img/decouvrir/boutons-carte-inactif.png" 
			                                    data-over="assets/img/decouvrir/boutons-carte-souris.png"
			                                    data-on="assets/img/decouvrir/boutons-carte-actif.png"/>
			</a>
			<div id="pageTitle">Lieux à découvrir et à aimer</div>
			<div id="viewTitle">
				<img  id="title-icon" class="image-button" src="assets/img/decouvrir/icone-fichelieu.png"> 
				<span id="title-text"></span>
			</div>
		</div>
	</div>
	<div id="viewContent"/>
</div>