 <div id="cguView" class="connexion">
  	<div id="menuView" class="hcenter">
		<% if(currentUser && currentUser.get('logged')) { %>
	 		<a href="#login" id="loginButton">
	 			<img src="img/connexion/15-monprofil-passif.png">
	 		</a>
	 	<% } else { %>
	 		<a href="#login" id="loginButton">
	 			<img src="img/connexion/15-seconnecter-passif.png">
	 		</a>
	 		<a href="#register" id="registerButton">
	 			<img src="img/connexion/15-creerprofil-passif.png">
	 		</a>
	 	<% } %>
 		<a href="#cgu" id="cgButton">
 			<img src="img/connexion/15-cgu-actif.png">
 		</a>
 	</div>
 	<div id="cgu" class="hcenter viewContent">
 		<div id="innerPanel">
 			<div id="title">
 				<p>CGU</p>
 				<p><strong>CONDITIONS GéNéRALES D'UTILISATION</strong></p>
 			</div>
 			<div class="cgu">	
				<p>Chaque participant s'engage à envoyer uniquement des photographies dont il est l'auteur et dont il accepte qu'elles soient publiées sous licence libre Creative Commons CC-BY 2.0 (qui autorise la libre réutilisation de l'œuvre à condition que l'auteur soit indiqué).</p>
				<p>Chaque participant déclare être l’auteur des photographies présentées. Il doit être dépositaire des droits liés à l’image et garantit détenir les droits d’exploitation.</p>
				<p>Vu Par Vous ne pourra être tenue responsable du non respect des droits d’auteur.</p>
				<p>Les participants au concours cèdent à titre gracieux les droits de reproduction, de représentation et de divulgation ainsi que les modalités de réutilisation envisagées (publication ou exposition).</p>
				
				<p>Vu Par Vous pourra utiliser à son gré tous les clichés qu’elle aura réceptionnés et aucune rémunération ne sera due à ce titre.</p>
				
				<h2>Droits photo et autorisation</h2>
				<p>Les auteurs sont seuls responsables de tous droits relatifs aux images qu’ils présentent : l’utilisation de l’application Vu Par Vous implique qu’ils détiennent toutes les autorisations nécessaires à la reproduction et à la diffusion de ces images (individus majeurs ou mineurs, lieux privés, etc.).</p>
				<p>En cas de litige, la responsabilité du participant sera seule engagée.</p>
				
				<p>Dans le cas d’une exploitation commerciale de photographies représentant des batiments, des autorisations seront demandées au cas par cas à qui de droit avant utilisation.</p>
				
				<p>L’utilisation de l’application Vu Par Vous implique le plein accord des participants sur l’acceptation du présent règlement, sans possibilité de réclamation quant aux résultats, ni au retour de leur(s) photo(s). Par ailleurs, ils devront s’assurer de l’accord écrit des personnes photographiées lorsque leur photo peut mettre en cause le droit des personnes sur leur image. Le simple de l’utilisation de l’application Vu Par Vous implique l’acceptation de la décision, en dernier recours, de la direction de Vu Par Vous quant aux difficultés qui ne seraient pas prévues par celui-ci.</p>
				
				<p>Le présent règlement est soumis à la législation française</p>
				
				<p>La direction de Vu Par Vous ne pourrait être tenue responsable si, par suite d’un cas de force majeure, ou de toute cause indépendante de sa volonté, des changements de l’application intervenaient ou même si le l’application était modifié ou purement et simplement fermée. Elle ne saurait non plus être rendue responsable des retards ou des pertes des envois, du fait des services postaux ou autres, ou de leur destruction par tout autre cas fortuit.</p>
				<p>Les auteurs sont seuls responsables de tous droits relatifs aux images qu’ils présentent. Les participants garantissent qu’ils sont propriétaires des droits d’auteurs de leurs photographies et devront s’assurer que tous les accords de publication ou d’exposition sont obtenus, en particulier des personnes, spectacles, bâtiments… pouvant figurer sur les photos, selon les règles régissant le droit à l’image.</p>
				<p>Le simple fait d’utiliser l’application Vu Par Vous implique l’acceptation entière et sans réserve de toutes les dispositions ci-dessus.</p>
			</div>

 		</div>
	</div>
</div>
