 	<div class="container">
 		<div id="palmaresViewHeader">
			<div class="palmares-col photos_insolite">
				<a href="#insolites" id="insolitesButton">
					<img  class="image-button" data-group="palmares-navbar"
				    	src="assets/img/palmares/PALMARES-photos-insolites-inactif.png" 
				        data-off="assets/img/palmares/PALMARES-photos-insolites-inactif.png" 
				        data-on="assets/img/palmares/PALMARES-photos-insolites-actif.png"/>
				</a>
			</div>
			<div class="palmares-col photos_qualite">
				<a href="#qualites" id="qualitesButton">
					<img  class="image-button" data-group="palmares-navbar"
				    	src="assets/img/palmares/PALMARES-photos-qualite-inactif.png" 
				        data-off="assets/img/palmares/PALMARES-photos-qualite-inactif.png" 
				        data-on="assets/img/palmares/PALMARES-photos-qualite-actif.png"/>
					
				</a>
			</div>
			<div class="palmares-col photos_top">
				<a href="#tops" id="topsButton">
					<img  class="image-button" data-group="palmares-navbar"
				    	src="assets/img/palmares/PALMARES-photos-toplivre-inactif.png" 
				        data-off="assets/img/palmares/PALMARES-photos-toplivre-inactif.png" 
				        data-on="assets/img/palmares/PALMARES-photos-toplivre-actif.png"/>
				
				</a>
			</div>
	 	</div>
	 	<div id="pageTitle">Meilleurs photos classées selon vos votes</div>
	 </div>
